.dropdown-content {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    padding: 10px;
    z-index: 1;
    border: 1px solid black;
}

.dropdown:hover .dropdown-content {
  display: block;
}